
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after
*::before {
  box-sizing: inherit;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.page-header{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header-icon{
  animation: animation-icon 1s linear;
}
@keyframes animation-icon {
  from { transform: translate(0, -50px); opacity: 0; }
  to { transform: translate(0, 0); opacity: 1; }
}
.menu{
  width: 490px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  list-style: none;
}
.menu-item{
  position: relative;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}			
.menu-item-link:focus,
.menu-item-link:hover{
  color: rgb(243, 129, 129);
  cursor: pointer;
  transition: color .2s linear;  
}   
.menu-item a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgb(149, 225, 211);
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
}
.menu-item a::after {
  position: absolute;
  content:"";
  width: 0;
  height: 2px;
  background: #f38181;
  color: #f38181;
  bottom: 0;
  left: 50%;
  transition: width .2s linear, left .2s linear;   
}
.menu-item a:focus::after, 
.menu-item a:hover::after {
  color: #f38181;
  width: 100%;
  left:0;
}
.page-main{
  display: flex;
  flex-direction: column;
}
.title{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.title h3{
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
}
.title::after{
  content: "";
  display: block;
  margin-top: 40px;
  width: 60px;
  height: 3px;
  background: rgb(243, 129, 129);
}
.services{
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.services-item{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: start;
  align-items: flex-start;
  width: 400px;
  height: 70px;
}
.services-item-img{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  width: 90px;
}
.services-item h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.services-item p{
  color: rgb(229, 229, 229);
  padding-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.team{
  margin: 0 auto;
  text-align: center;
  width: 960px;
  height: 140px;
}
.team-text{
  color: rgb(229, 229, 229);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.peoples{
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  list-style: none;
}
.peoples-item{
  background: rgb(149, 225, 211);
  display: flex;
  flex-direction: column;
  
}
.peoples-item-img{
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translate(0, 0);
  transition: transform .2s linear;   
}
.peoples-item:hover .peoples-item-img{
  transform: translate(-10px, -10px);
}
.peoples-item:hover .peoples-item-img-navigation{
  opacity: 1;
}
.peoples-item-img-navigation{
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  transition: opacity .2s linear;   
}
.peoples-item-img-navigation-icon-wrap{
  width: 230px;
  display: flex;
  justify-content: space-between;
}
.peoples-item-img-navigation-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: rgb(252, 227, 138);
  transition: background .2s linear; 
}
.peoples-item-img-navigation-icon:hover{
  background: rgb(149, 225, 211);
}
.peoples-item-img-navigation-icon-img{
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.peoples-item-text{
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.peoples-item-text-name{
  margin-top: 1.2em;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.peoples-item-text-position{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
  color: rgb(229, 229, 229);
}
.page-footer{
  border-top: 1px solid rgb(229, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.page-footer-text{
  display: flex;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.page-footer-text-bg{
  margin-left: 0.3em;
  color: rgb(243, 129, 129);
}
.form{
  display: flex;
  width: 380px;
  height: 40px;
}
.input{
  width: 230px;
  height: 40px;
  border: 1px solid rgb(229, 229, 229);
  outline: none;
}
.input:focus{
  border: 1px solid rgb(229, 229, 229);
}
.btn-submit{
  background: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border: none;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background .2s linear; 
}
.btn-submit:focus{
  outline: none;
  background: rgb(243, 129, 129);
}
.btn-submit:hover{
  background: rgb(243, 129, 129);
}






